---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/?api_key=<moviebd_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Mon, 24 Oct 2022 17:57:27 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/?api_key=<moviebd_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Mon, 24 Oct 2022 17:57:27 GMT
recorded_with: VCR 6.1.0
