<h2>Landing Page</h2>

<% if !session[:user_id] %>
  <p><%= link_to "Log In", login_path, local: true, method: :get %></p>

  <%= button_to "Create New User", register_path, local: true, method: :get%>

  <% else %>
  <h3>Current Users</h3>

  <% @users.each do |user| %>
    <p><%= user.email %></p>
  <% end %>
 <p><%= link_to "Log Out", '/logout', local: true, method: :patch %></p>
<% end %>